@model KarateEvents.ViewModels.ClubViewModels.AddEditClubViewModel

@{
    ViewBag.Title = "AddEditClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodavanje kluba</h2>

@using (Html.BeginForm("SaveClub", "Club", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Molimo Vas, ispravite greške")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Owner)
        @Html.TextBoxFor(m => m.Owner, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Owner)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pib)
        @Html.TextBoxFor(m => m.Pib, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pib)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    @Html.HiddenFor(x => x.Id)

    @Html.AntiForgeryToken()
    <input name="save" type="submit" value="Sačuvaj" class="btn btn-success" />
    @Html.ActionLink("Nazad", "Index", "Club", new { @class = "btn btn-info" })
}



