@model KarateEvents.ViewModels.ClubViewModels.ClubsListViewModel

@{
    ViewBag.Title = "Klubovi";
}

<h2>Lista klubova</h2>

<div id="addNewButton">
    <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("AddClub", "Club")'">Dodaj novi klub</button>
</div>

<table id="clubs" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Klub</th>
            <th>Vlasnik</th>
            <th>Telefon</th>
            <th>Izmena</th>
            <th>Brisanje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model.Clubs)
        {
            @Html.Hidden(club.Id.ToString());
            <tr>
                <td>@club.Name</td>
                <td>@club.Owner</td>
                <td>@club.Phone</td>
                <td>@Html.ActionLink("Izmeni klub", "EditClub", "Club", new { clubId = club.Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Obrisi klub", "DeleteClub", "Club", new { clubId = club.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
