@model KarateEvents.ViewModels.CoachViewModel.CoachesListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista trenera</h2>

<div id="addNewButton">
    <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("AddCoach", "Coach")'">Dodaj novog trenera</button>
</div>

<table id="coaches" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Tip trenera</th>
            <th>Klub</th>
            <th>Izmena</th>
            <th>Brisanje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model.Coaches)
        {
            <tr>
                <td>@coach.Name</td>
                <td>@Model.CoachTypes.Where(x => x.Id == coach.CoachTypeId).Select(x => x.CoachTypeName).FirstOrDefault()</td>
                <td>@Model.Clubs.Where(x => x.Id == coach.ClubId).Select(x => x.Name).FirstOrDefault()</td>
                <td>@Html.ActionLink("Izmeni trenera", "EditCoach", "Coach", new { coachId = coach.Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Obrisi trenera", "DeleteCoach", "Coach", new { coachId = coach.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
