@model KarateEvents.ViewModels.CompetitorViewModel.AddEditCompetitorViewModel

@{
    ViewBag.Title = "AddCompetitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodavanje takmičara</h2>

@using (Html.BeginForm("SaveCompetitor", "Competitor"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Competitor.Name)
        @Html.TextBoxFor(m => m.Competitor.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Competitor.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Competitor.DateOfBirth)
        @Html.TextBoxFor(m => m.Competitor.DateOfBirth, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Competitor.DateOfBirth)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Competitor.CategoryId)
        @Html.DropDownListFor(m => m.Competitor.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"), "Kategorija", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Competitor.CategoryId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Competitor.GenderId)
        @Html.DropDownListFor(m => m.Competitor.GenderId, new SelectList(Model.Genders, "Id", "GenderName"), "Pol", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Competitor.GenderId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Competitor.ClubId)
        @Html.DropDownListFor(m => m.Competitor.ClubId, new SelectList(Model.Clubs, "Id", "Name"), "Klub", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(c => c.Competitor.Id)
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
}


